
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* shared style */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;

}

/* header */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* .header-width{
    max-width: 1440px;
    margin: 0 auto;
} */
/* nav-title */

.nav-title{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    
}
.navbar ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.list-items{
    list-style: none;
}
.ul-list{
  gap: 30px;
}
ul>li>a{
    text-decoration: none;
}


/* banner */
.banner{
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4.5rem;
}
.banner-description{
    font-size: 16px;
    font-weight: ;
    margin-bottom: 2rem;
}

.banner-image{
    margin-top: 3.1rem;
    width: 100%;
    margin-bottom: 45px;
    
}


/* responsive for header section */
@media screen and (max-width:576px){
    .navbar, nav>ul{
        flex-direction: column;
    }
}



/* section-1 */
.section-1{
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 85px;
    align-items: center;
}
.img-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 73px;
    gap: 25px;
}
.div-container{
    
}
.span-3{
    color: rgba(255, 144, 14, 1);
}
.div-container-header{
    font-weight: 500;
    font-size: 2.8rem;
}


/* responsive for section-1 */
@media screen and (max-width:576px){
    .section-1{
        flex-direction: column;
    }
    .img-div{
         grid-template-columns: repeat(1,1fr);
         margin: 0 auto;
    }
    .div-container{
        padding: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .section-1{
        flex-direction: column;
    }
    .div-container{
        padding-left: 63px;
    }
}



