
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* shared style */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;

}

/* header */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* .header-width{
    max-width: 1440px;
    margin: 0 auto;
} */
/* nav-title */

.nav-title{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    
}
.navbar ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.list-items{
    list-style: none;
}
.ul-list{
  gap: 30px;
}
ul>li>a{
    text-decoration: none;
}


/* banner */
.banner{
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4.5rem;
}
.banner-description{
    font-size: 16px;
    font-weight: ;
    margin-bottom: 2rem;
}

.banner-image{
    margin-top: 3.1rem;
    width: 100%;
    margin-bottom: 45px;
    
}


/* responsive for header section */
@media screen and (max-width:576px){
    .navbar, nav>ul{
        flex-direction: column;
    }
    .banner-title{
        font-size: 2rem;
    }
}

/* main */
main{
    max-width: 1440px ;
    margin: 0 auto;
}

/* section-1 */
.section-1{
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 85px;
    align-items: center;
}
.img-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 73px;
    gap: 25px;
}
.div-container{
    
}
.span-3{
    color: rgba(255, 144, 14, 1);
}
.div-container-header{
    font-weight: 500;
    font-size: 2.8rem;
}


/* responsive for section-1 */
@media screen and (max-width:576px){
    .section-1{
        flex-direction: column;
    }
    .img-div{
         grid-template-columns: repeat(1,1fr);
         margin: 0 auto;
    }
    .div-container{
        padding: 20px;
    }
    .image{
        width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .section-1{
        flex-direction: column;
    }
    .div-container{
        padding-left: 63px;
    }
    .image{
        width: 100%;
    }
    .img-div{
        margin-right: 0px;
    }
}

/* section-2 */
.section-2{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#border{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}
.section-2-container{
    margin-right: 130px;
}
.section-2-container-header{
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: 700;
    
}
.section-2-container-description{
    margin-bottom: 30px;
}
.section-2-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 35px;
    margin-bottom: 20px;

}
.section-2-card-header{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}
#Experience-btn{
    padding: 45px;
    border-radius: 8px;
    margin-left: -80px;
    margin-top: -110px;
    
}
.Year{
    font-size: 2.8rem;
    font-weight: 700;
}
.Experience{
    font-size: 25px;
    font-weight: 500;
    margin-top: 3px;
}
/* responsive for section-2 */
@media screen and (max-width:576px){
    .section-2{
        grid-template-columns: repeat(1,1fr);
    }
    .section-2>div>img{
        width: 100%;
    }
    .section-2>div>button{
        margin-left: 100px;
        margin-top: 100px;
    }
    .section-2-container{
        justify-items: center;
        margin-right: 10px;
    }
    #Experience-btn{
       margin-top: 20px;
       margin-left: 0px;

    }
}
/* section-3 */
.section-3{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
.section-3-header{
    font-weight: 700;
    font-size: 2.8rem;
}
.section-3-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.section-3-card{
    padding: 20px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 241px;
    height: 241px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3-description{
    margin-bottom: 100px;
}
.card-num{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
}

.section-3-card>p{
    font-size: 20px;
    font-weight: 600;
}

/* section-3-responsive */
@media screen and (max-width:576px){
    .section-3-cards{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .section-3-card{
        margin-bottom: 20px;
    }
    .section-3{
        margin-top: 50px;
    }
}


/* section-4 */
.section-4{
    margin-top: 180px;
    text-align: center;
    margin-bottom: 130px;
}
.section-4-header{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 34px;
}
.section-4-description{
    margin-bottom: 40px;
}
.section-4-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.section-4-container>img{
    filter: grayscale(100%);
}
/* responsive for section 4 */
@media screen and (max-width:576px){
    .section-4-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }    
    .section-4-container>img{
        margin-bottom: 25px;
    }
    .section-4{
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

/* footer */
.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 244, 231, 1);
    padding: 30px 2px 30px 2px;
    text-align: center;
    margin-bottom: 254px;
    border-radius: 8px;
    
}
.footer-description{
    font-size: 20px;
}
@media screen and (max-width:576px){
    .footer{
        margin-bottom: 45px;
    }
    
}
